body {
    font-family: 'Source Code Pro', monospace;
    max-width: 100%;
    background: black;
    color: rgba(255, 255, 255, 0.7);
}

.work-article {
    p {
        margin: 1em 0;
        line-height: 2;
    }
    h1 {
        font-size: 1.5rem;
    }
}